NEXT_PUBLIC_WHATSAPP_NUMBER=5511912345678

SUPABASE_URL=https://[...].supabase.co
SUPABASE_SERVICE_ROLE_KEY=key

REDIS_HOST=[host]
REDIS_PORT=0001
REDIS_PASSWORD=senha

JWT_SECRET=your_jwt_secret_here