* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: inter;
}
html {
    height: 100%;
}

body {
    background-color: #181818;
    display: flex;
    flex-direction: column;
}